body, html{
	margin: 0;
	padding: 0;
}
*{
	font-family: Montserrat;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
header{
	display: flex;
	justify-content: space-between;
	background-color: #333333;
	height: 5vh;
	color: #777777;
}

.d-flex{
	display: flex;
}

.container{
	padding: 0 15%;
}

.header-menu{
	display: flex;
}	

.pointer{
	cursor: pointer;
}	

.header-menu div:first-child{
	margin-right: 30px;
}

.text-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-cart{
	background-color: #fff;
	background-color: #00c8c8;
	color: #fff;
	width: 150px;
	margin-left: 80px;
}

.header-menu-icon{
	width: 30px;
	cursor: pointer;
	display: none;
}

@media screen and (max-width: 800px){
	.container{
		padding: 0 10%;
	}
}

@media screen and (max-width: 700px){
	.container{
		padding: 0 5%;
	}
}

@media only screen and (max-width: 590px) {
	.header-menu{
		display: none;
	}
	.header-menu-icon{
		display: block;
	}
}