footer{
    background-color: #F8F8F8;
    padding-top: 50px;
}

.footer-menu-block{
    color: #727272;
    margin: 0 20px;
}

.footer-menu-item{
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-menu-item:hover{
    color: #000;
}

.footer-menu-block-tittle{
    text-transform: uppercase;
}

.footer-banner{
    background-color: #333333;
    height: 200px;
    width: 45%;
    color: #fff;
    font-size: 1.7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.footer-banner > p{
    margin-bottom: 5px;
    margin-top: 5px;
    letter-spacing: 3px;
}

.footer-socials{
    background-color: #00C8C8;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-icon{
    width: 35px;
    cursor: pointer;
}

.social-block{
    padding: 0 50px;
}

.footer-authors{
    display: flex;
    justify-content: space-between;
    color: #777777;
    background-color: #333333;
    height: 50px;
    margin-top: 50px;
    align-items: center;
}

.footer-menu-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

@media screen and (max-width: 1320px){
    .social-block{
        padding: 0 10%;
    }
}

@media screen and (max-width: 1605px){
    .footer-container{
        padding: 0 5%;
    }
}

@media screen and (max-width: 600px){
    .social-icon{
        width: 70%;
    }
}

@media screen and (max-width: 780px){
	.footer-authors{
		font-size: 2.1vw;
	}
}

@media screen and (max-width: 1113px){
    .footer-menu-wrapper{
        justify-content: center;
    }
    .footer-menu-block{
        margin: 0 70px;
    }
}

@media screen and (max-width: 977px){
    .footer-menu-block{
        margin: 0 30px;
    }
}

@media screen and (max-width: 710px){
    .footer-menu-block{
        margin: 0 30px;
    }
}

@media screen and (max-width: 500px){
    .footer-menu-block{
        margin: 0 50px;
    }
}