header{
	display: flex;
	justify-content: space-between;
	background-color: #333333;
	height: 50px;
	color: #777777;
}

.header-menu{
	display: flex;
	z-index: 5;
}

.header-menu div:first-child{
	margin-right: 30px;
}

.header-cart{
	background-color: #00c8c8;
	color: #fff;
	width: 150px;
	margin-left: 80px;
}

.header-cart:hover{
	background-color: #00bfbf;
}

.header-menu-icon{
	width: 30px;
	cursor: pointer;
	display: none;
}

.mobile-menu{
	height: 0;
	overflow: hidden;
	color: #fff;
	background-color: #3d3d3d;
	transition: .5s ease-out;
}

.mobile-menu_item{
	display: block;
	text-align: center;
	height: 40px;
	text-transform: uppercase;
	font-size: 15px;
	cursor: pointer;
	padding-top: 10px;
}

.mobile-menu_item:hover{
	background-color: #3f3f3f;
}


@media only screen and (max-width: 590px) {
	.header-menu{
		display: none;
	}
	.header-menu-icon{
		display: block;
	}
}