.lookbook-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 100px;
}

.look-book-card{
    display: flex;
    width: 30%;
    height: 500px;
    background-color: #F8F8F8;
    padding-right: 40px;
    padding-left: 15px;
}

.lookbook-info{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lookbook-img{
    width: 40%;
    margin-top: 5%;
    background-size: contain;
    background-repeat: no-repeat;
}

.lookbook-tittle{
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 3px;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 30px;
    color: #575153;
}

.lookbook-info > p{
    text-align: right;
    margin-top: 0;
    margin-bottom: 30px;
    right: 0;
}

.man{
    background-image: url(../Icons/lookbook-man.png);
}

.women{
    background-image: url(../Icons/lookbook-women.png);
}

.your{
    background-image: url(../Icons/lookbook-you.png);
}

.lookbook-button{
    height: 60px;
    width: 181px;
    border: none;
    background-color: #00C8C8;
    color: #fff;
    font-size: 23px;
    right: 0;
    margin-top: 0;
    margin-left: calc(100% - 181px);
    outline: none;
    cursor: pointer;
    letter-spacing: 2px;
}


@media screen and (max-width: 1770px){
    .look-book-card{
        min-width: 40%;
        margin: 1%;
    }

    .lookbook-wrapper{
        justify-content: center;
    }
}

@media screen and (max-width: 1500px){
    .look-book-card{
        min-width: 40%;
        margin: 1%;
    }
}

@media screen and (max-width: 1900px){
    .lookbook-img{
        width: 50%;
    }
    .lookbook-info{
        width: 50%;
    }
}

@media screen and (max-width: 1288px){
    .look-book-card{
        width: 100%;
        margin: 1%;
    }
}

@media screen and (max-width: 540px){
    .look-book-card{
        padding: 0 10px;
    }
}

@media screen and (max-width: 490px){
    .lookbook-img{
        height: 90%;
        margin-top: auto;
    }
    .lookbook-button{
        width: 70%;
        margin-left: 30%;
        font-size: 4vw;
    }
}

@media screen and (max-width: 465px){
    .lookbook-img{
        height: 80%;
        margin-top: auto;
    }
    .look-book-card{
        height: 400px;
    }
}

@media screen and (max-width: 465px){
    .lookbook-img{
        height: 80%;
        margin-top: auto;
    }
    .look-book-card{
        height: 400px;
    }
}