body, html{
	margin: 0;
	padding: 0;
}
*{
	font-family: Montserrat;
	user-select: none;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}

.d-flex{
	display: flex;
}

.container{
	padding: 0 10%;
}

.pointer{
	cursor: pointer;
}	

.text-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.line{
	height: 2px;
	background-color: #eeeeee;
	margin-top: 55px;
	margin-bottom: 55px;
}

.light-text{
	font-weight: 500;
}


@media screen and (max-width: 800px){
	.container{
		padding: 0 10%;
	}
}

@media screen and (max-width: 700px){
	.container{
		padding: 0 5%;
	}
}