body, html{
	margin: 0;
	padding: 0;
}
*{
	font-family: Montserrat;
	user-select: none;
	box-sizing: border-box;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}

.d-flex{
	display: flex;
}

.container{
	padding: 0 10%;
}

.footer-container{
	padding: 0 300px;
} 

.pointer{
	cursor: pointer;
}	

.text-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.line{
	height: 2px;
	background-color: #eeeeee;
	margin-top: 55px;
	margin-bottom: 55px;
}

.light-text{
	font-weight: 500;
}

.j-c-sb{
	justify-content: space-between;
}

.j-c-c{
	justify-content: center;
}

.mb-50{
	margin-bottom: 50px;
}

.mt-100{
	margin-top: 100px;
}

@media screen and (max-width: 700px){
	.container{
		padding: 0 5%;
	}
}